{% extends "base.html" %}

{% block content %}
    <h1>Log In to Blogz!</h1>
    <p>Don't have an account? <a href="/register">Register</a> for one!</p>

    <form action="/login" method="POST">
        <table>
            <tr>
                <td>
                    <label for="username">Username:</label>
                </td>
                <td>
                    <input type="text" name="username" value="{{username}}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Password:</label>
                </td>
                <td>
                    <input type="password" name="password">
                </td>
            </tr>
        </table>
        <input type="submit" value="Login">
    </form>
    <br>


{% endblock %}